extends layout

block content
  include mr-navbar

  #MR.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#MR', data-slide-to='0')
      li(data-target='#MR', data-slide-to='1')
      li(data-target='#MR', data-slide-to='2')
    .carousel-inner
      .item.active
        img( src = 'images/m2.png', 
          alt = 'First slide')
        .container
          .carousel-caption.ghost
            h1 "-A la Revolución- de ayer, de hoy, de mañana y de siempre."
            h4 Arq. Carlos Obregón Santacilia
      .item
        img(src = 'images/mr1.jpg', 
          alt='Second slide')
        .container
          .carousel-caption
      .item
        img(src = 'images/mr3.jpg', 
          alt='Second slide')
        .container
          .carousel-caption
    a.left.carousel-control(href='#MR', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href='#MR', data-slide='next')
      span.glyphicon.glyphicon-chevron-right
  
  .container.marketing

    .row
      .col-lg-4
        img.img-circle( src='images/fuentes.jpg', width = "200", heigth = "200",
          alt='Fuentes')
        h2 Fuente Centenario
        p Ven a darte un chapuzón o si lo prefieres simplemente observa el bello espectáculo lleno de luz y diversión.
      
      .col-lg-4
        img.img-circle( src='images/museo1.jpg', width = "200", heigth = "200",
          alt='Fuentes')
        h2 Museo
        p En el sótano del monumento se encuentra el Museo Nacional de la Revolución, fue inaugurado el 20 de noviembre de 1986. El museo se enfoca a mostrar la historia de México, tiene como exposición Permanente "Sesenta y tres años en la historia de México 1857-1920" que abarca desde la promulgación de la Constitución de 1857 hasta la Presidencia de Venustiano Carranza, enfocandose en el periodo revolucionario.
      
      .col-lg-4
        img.img-circle( src='images/mirador1.jpg', width = "200", heigth = "200",
          alt='Fuentes')
        h2 Mirador
        p Ven a ver la ciudad como nunca antes lo has hecho, el mirador del MR tiene un panorama de la ciudad que nunca has visto.
        p ¡No te lo pierdas!

block custom-scripts
  script(src='/javascripts/holder.js')